# Python virtual environments
.venv/
venv/
.venvw/
venvw/
requirementsW.txt
# Python cache
**/__pycache__/

# Git & IDE
.git/
.idea/

# Project data & outputs
# 00_input_data/
logs/
models/

# Fast NST
# output_data/videos
# # adain
# output_data/abstract_alpha0.4
# output_data/camille_alpha0.4
# output_data/chronis_alpha0.4
# output_data/circles_alpha0.4
# output_data/gray_alpha0.4
# output_data/starry_night_alpha0.4
# output_data/sunset_alpha0.4

# output_data/adam1
# output_data/adam2
# output_data/sgd1
# output_data/sgd2

output_data

save/

liveVideoNST.py

.ipynb_checkpoints

old/

visualisation.py
# portfolio_images.zip