# Python virtual environments
.venv/
venv/
.venvw/
venvw/
requirementsW.txt
# Python cache
**/__pycache__/

# Git & IDE
.git/
.idea/

# Project data & outputs
00_input_data/
logs/
models/
output_data/
save/
stable_diff/

liveVideoNST.py
